.App {
  text-align: center;
}

.characters-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.characters-column {
  width: 25%;
  padding: 25px;
}

.character-card {
  padding: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, .3);
  display: block;
  text-decoration: none;
  height: 100%;
  border-radius: 10px;
}

.character-card img {
  height: 5rem;
}